{erl_opts, [no_debug_info]}.
{deps, []}.

{escript_incl_apps,
 [otl]}.
{escript_top_level_app, otl}.
{escript_name, otl}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{plugins, [
    {rebar3_efene_compile, ".*", {git, "https://github.com/efene/rebar3_efene_compile.git", {branch, "master"}}}
    ]}.

{provider_hooks, [{pre, [{compile, {efene, compile}}]}]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
